In [13]:
import pandas as pd

s='2008/10/23 02:53:04'

dt=pd.to_datetime(s)

print(dt)

2008-10-23 02:53:04

In [ ]:
df = pd.read_csv('test.csv', sep='\t',dtype=str)

In [21]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})


df['A'].iloc[0]

1

In [28]:
def create_transportation_labels_df(path: str):
    df =  pd.read_csv(path, sep='\t',dtype=str)
    #df[['Start Time','End Time']] = df[['Start Time','End Time']].apply(pd.to_datetime)

In [34]:
path = 'dataset/Data'

print(path+"/"+'010'+'/labels.txt')

df = create_transportation_labels_df(path+"/"+'010'+'/labels.txt')
df

dataset/Data/010/labels.txt

In [33]:
new_path = path+"/"+'010'+'/labels.txt'

df =  pd.read_csv(new_path, sep='\t',dtype=str)
df[['Start Time','End Time']] = df[['Start Time','End Time']].apply(pd.to_datetime)
df

             Start Time            End Time Transportation Mode
0   2007-06-26 11:32:29 2007-06-26 11:40:29                 bus
1   2008-03-28 14:52:54 2008-03-28 15:59:59               train
2   2008-03-28 16:00:00 2008-03-28 22:02:00               train
3   2008-03-29 01:27:50 2008-03-29 15:59:59               train
4   2008-03-29 16:00:00 2008-03-30 15:59:59               train
..                  ...                 ...                 ...
429 2008-12-07 10:30:54 2008-12-07 10:34:14                taxi
430 2008-12-07 10:59:29 2008-12-07 11:29:48               train
431 2008-12-07 11:43:12 2008-12-07 12:23:26                 bus
432 2008-12-07 12:23:34 2008-12-07 12:25:07                walk
433 2008-12-07 12:25:34 2008-12-07 12:37:28                taxi

[434 rows x 3 columns]